.card {
  padding: 1.5em;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  background: var(--primary-item-bg-color);
  display: flex;
  flex-direction: column;
  gap: 1em;
  text-align: left;
}

.card__top {
  display: flex;
  gap: 0.75em;
}

.card__top__author {
  font-weight: bold;
}

.card__top__author span {
  font-weight: normal;
  color: var(--secondary-color);
  font-size: 0.75em;
}

.card__top__role {
  color: var(--secondary-color);
  font-size: 0.75em;
}

.card__title {
  font-weight: bold;
  font-size: 1.5em;
  text-transform: capitalize;
}

.card__body {
  text-align: justify;
  font-size: 0.9em;
  color: var(--secondary-color);
}
