.blog_trend {
  flex: 1 0 0;
  min-width: 300px;
  padding: 0 1em 1em 1em;
  background: var(--wrapper-color);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  height: fit-content;
}

.blog_trend__title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 65px;
  font-size: 2em;
  font-family: "Patrick Hand SC", sans-serif;
}

.blog_trend__wrapper {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
