@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap");

#root {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

header {
  display: flex;
  align-items: center;
  gap: 1em;
  height: 4.5em;
  margin-bottom: 1em;
}

.title {
  margin: 0;
  font-family: "Patrick Hand SC", sans-serif;
}

.logo {
  width: 3em;
  height: 3em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.content {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}
